extends layout

block content
  script(src="http://cdn.auth0.com/js/auth0/9.0.0/auth0.min.js")

  h1= title
  p Welcome to #{title}
  br

  script.
    var auth0 = new window.auth0.WebAuth({
      clientID: '#{env.AUTH0_CLIENT_ID}',
      domain: '#{env.AUTH0_DOMAIN}',
      scope: "openid profile", // Learn about scopes: https://auth0.com/docs/scopes
      responseType: "code",
      redirectUri: '#{env.AUTH0_CALLBACK_URL}'
    });

    auth0.authorize();
